/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----- Meyer's Reset END ----- */

body {
    --color: #0ea5e9;

    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height:fit-content;
    width: fit-content;
    display: grid;
    grid-template: minmax(100px, 1fr) minmax(500px, 4fr) / 200px minmax(700px, 3fr);
    overflow: scroll;
}

h5 {
    font-size: 18px;
    font-weight: 600;
}

strong {font-weight: bold}

/* Side-bar styling */

.sidebar {
    color: #FCF6F5FF;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: .5px;
    grid-row: 1 / 3;
    background: var(--color);
    display: grid;
    grid-template:  repeat(3, min-content) / 10px;
    gap: 40px;
    padding: 15px;
}

ul > li{
    margin: 10px 0px;
}

img {
    --size: 25px;

    height: var(--size);
    width: var(--size);
}


a {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

.bigger {
    font-size: 22px;
    align-items: center;
}

.big-img {
    height: 35px;
    width: 35px;
}

.side-container {
    display: grid;
    align-content: center;
}

a {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

a > strong {
    align-self: center;
    padding-left: 6px;
}

/* Top bar styling */

header {
    display: grid;
    grid-template: 3fr 4fr / 1fr min-content;
}

input[type='search'] {
    background: #e5e7eb;
    border: 0px;
    margin-right: 50px;
    border-radius: 99px;
    color: var(--color);
    box-sizing: border-box;
    max-width: 600px;
    padding: 0px 10px;
}

.header-user {
    grid-column-start: 2;
    grid-row-start: 1;
}

.top-left {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-content: center;
    gap: 10px;
}

.header-user {
    display: grid;
    grid-template-columns: min-content 100px;
    align-content: center;
}

.center-i {
    margin: auto;
}

.user-pfp {
    height: 50px;
    width: 50px;
}

.head-main > .user-pfp {
    height: 70px;
    width: 70px;

}
.user-pfp {
    border-radius: 100%;
}

.head-main {
    display: grid;
    grid-template-columns: min-content 1fr repeat(3, min-content);
    grid-column-end: span 2;
    gap: 25px;
    align-items: center;
}

header button {
    background: var(--color);
    color: #FCF6F5FF;
    border: 0px;
    border-radius: 30px;
    height: 33px;
    width: 80px;
    font-size: 14px;

}

main {
    background: #9ca3af57;
}

header {
    padding: 10px 30px;
    gap: 5px 30px;
    box-shadow: 4px 2px 5px #1f2937cc;
}

.welcome-user > p:last-of-type {
    font-size: 20px;
    font-weight: 600;
}

/* Main content styling */

main {
    padding: 30px 20px 50px 20px;;
    display: grid;
    grid-template: 3fr 2fr / 5fr 2fr;
    gap: 20px
}

main > div > p {
    font-size: 20px;
    font-weight: 600;
    grid-column: 1 / -1;
}

/* Projects */

.projects {
    display: grid;
    grid-template: min-content 1fr / repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    grid-auto-rows: 1fr;
    grid-row-end: span 2;
}

.projects > div {
    background: white;
    display: grid;
    border-radius: 10px;
    grid-template-columns: 10px 1fr;
}

.color {
    grid-row: 1 / -1;
border-radius: 10px 0px 0px 10px;
background: black
}

.container {
    display: grid;
    padding: 25px 15px;
    grid-template: min-content 1fr min-content / 1fr repeat(3, min-content);
    gap: 5px 20px;
}

.container > h5, .container > p {
    grid-column: 1 / -1;
}

.container > p {color: #4b5563}
.container > img:first-of-type {
    grid-column: 2;
}

/* Announcements*/

.announcements {
    display: grid;
    grid-template-rows: min-content 1fr;
}
.announcements > p, .trending > p {
    margin-bottom: 20px
}

.announcements > div {
    background: white;
    padding: 30px;
    border-radius: 10px;
    display: grid;
    gap: 10px;
}

.announcements > div > div > p {
    color: #6b7280;
    font-size: 14px;
    padding-top: 5px;
}
.line-style {
    border-top: 1px solid #9ca3af;
    border-bottom: 1px solid #9ca3af;
    padding: 10px 0px;
}

